body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
    
}

/* ------------ container ------------ */
.container{
    padding:10px;
    width:500px;
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 500px;
    height:200px;
    background-image: url('./image/img1.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}
.display{
    position: absolute;
    height: 45px;
    width: 500px;
    top: 160px;
}

.display i.All{
    position: absolute;
    right: 60px;
    font-size: 25px;
    color: #fff;
    bottom: 13px;
}
.display i.All:hover{
    cursor: pointer;
}
.display i.fulfill{
    position: absolute;
    right: 35px;
    font-size: 25px;
    color: #fff;
    bottom: 13px;
}
.display i.fulfill:hover{
    cursor: pointer;
}

.display i.unfinished{
    position: absolute;
    right: 10px;
    font-size: 25px;
    color: #fff;
    bottom: 13px;
}
.display i.unfinished:hover{
    cursor: pointer;
}
/* ------------ content ------------ */
.content{
    width:500px;
    height: 350px;
    max-height:500px;
    background-color: #FFF;
    overflow: auto;
}
.content ul{
    padding:0;
    margin:0;
}
.fa-check-circle{
    color: #6eb200;
}
.item{
    font-size: 15px;
    color: #000;
    width: 500px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.item input.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:10px;
    background-color: #FFF;
    width: 285px;
    overflow: hidden;
    border: none;  
}
.lineThrough{
    text-decoration: line-through;
    color: #ccc !important;
}
::-webkit-scrollbar{
    display: none;
}
.item input:disabled{
    color: #000;
    font-size: 20px;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 500px;
    height:53px;
    background-color: #FFF;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 450px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
}